# World Population

In [212]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import operator
from operator import itemgetter
from heapq import nlargest
pd.options.mode.chained_assignment = None  # default='warn'

import wbgapi as wb

In [213]:
wb.source.info()
wb.series.info(q='income')
health_expend_data = wb.data.DataFrame('SH.XPD.CHEX.GD.ZS', ['ALL'], time=range(2012, 2021, 1), labels=True, skipAggs=False)
#health_expend_data
#Fill NULL values with zero(0)
health_expend_data = health_expend_data.fillna(0)
health_expend_data

,Country,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,
ZWE,Zimbabwe,6.918354,7.110148,8.133525,7.452066,7.675163,7.469752,8.680062,7.703565,0.0
ZMB,Zambia,3.930529,4.690910,3.829242,4.435102,4.477207,4.376977,5.032715,5.312203,0.0
YEM,"Yemen, Rep.",5.195936,4.960832,4.841805,4.252858,0.000000,0.000000,0.000000,0.000000,0.0
PSE,West Bank and Gaza,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
VIR,Virgin Islands (U.S.),0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...
CEB,Central Europe and the Baltics,6.541867,6.674307,6.577301,6.496499,6.593961,6.562004,6.574764,6.715267,0.0
CSS,Caribbean small states,5.087691,5.197799,5.275026,5.675563,5.978246,6.259914,6.155066,6.305645,0.0
ARB,Arab World,3.970690,4.218329,4.550951,5.073465,5.044954,5.280795,5.043366,5.083742,0.0
AFW,Africa Western and Central,3.505063,3.621935,3.614794,3.834685,3.811253,3.789631,3.393161,3.366044,0.0
AFE,Africa Eastern and Southern,6.573128,6.542389,6.132938,6.328395,6.235435,6.149074,6.202238,6.204934,0.0

In [214]:
# File to Load (Remember to Change These)
cnt_list = []
file_to = "Resources/countries_list.csv"
write_to= "Resources/countries_out.csv"
c_list = pd.read_csv(file_to)

cnt_list = list(c_list['name'])

print (len(cnt_list))

245

In [215]:
#cnt_list1=[]
#Total population country wise from 2010 to 2020
cnt_pop_df = wb.data.DataFrame('SP.POP.TOTL', ['ALL'], time=range(2010, 2021, 1), labels=True, skipAggs=False)
#cnt_list1=list(df['Country'])
#print(cnt_list1)
cnt_pop_df = cnt_pop_df.fillna(0)
cnt_pop_df

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,,
ZWE,Zimbabwe,12697728.0,12894323.0,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,14862927.0
ZMB,Zambia,13605986.0,14023199.0,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,18383956.0
YEM,"Yemen, Rep.",23154854.0,23807586.0,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,29825968.0
PSE,West Bank and Gaza,3786161.0,3882986.0,3979998.0,4076708.0,4173398.0,4270092.0,4367088.0,4454805.0,4569087.0,4685306.0,4803269.0
VIR,Virgin Islands (U.S.),108357.0,108290.0,108188.0,108041.0,107882.0,107712.0,107516.0,107281.0,107001.0,106669.0,106290.0
...,...,...,...,...,...,...,...,...,...,...,...,...
CEB,Central Europe and the Baltics,104421447.0,104174038.0,103935318.0,103713726.0,103496179.0,103257886.0,102994278.0,102740078.0,102538451.0,102398494.0,102172351.0
CSS,Caribbean small states,6973193.0,7022367.0,7072640.0,7123315.0,7173443.0,7222197.0,7269385.0,7314956.0,7358929.0,7401389.0,7442291.0
ARB,Arab World,354890097.0,363156846.0,371437642.0,379696477.0,387899835.0,396028301.0,404042892.0,411942825.0,419851989.0,427870273.0,436080728.0
AFW,Africa Western and Central,350556886.0,360285439.0,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0
AFE,Africa Eastern and Southern,518468229.0,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0

In [216]:
#df = df[df.Country != cnt_list]
#df.Country.equals(cnt_list)

#Filtered countries list based on the countries_list.csv
cnt_final_df =cnt_pop_df[cnt_pop_df['Country'].isin(cnt_list)]
cnt_final_df

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,,
ZWE,Zimbabwe,12697728.0,12894323.0,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,14862927.0
ZMB,Zambia,13605986.0,14023199.0,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,18383956.0
YEM,"Yemen, Rep.",23154854.0,23807586.0,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,29825968.0
VNM,Vietnam,87967655.0,88871384.0,89801926.0,90752593.0,91713850.0,92677082.0,93640435.0,94600643.0,95545959.0,96462108.0,97338583.0
VEN,"Venezuela, RB",28439942.0,28887873.0,29360827.0,29781046.0,30042973.0,30081827.0,29851249.0,29402480.0,28887117.0,28515829.0,28435943.0
...,...,...,...,...,...,...,...,...,...,...,...,...
AND,Andorra,84454.0,83748.0,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,77265.0
ASM,American Samoa,56084.0,55755.0,55669.0,55717.0,55791.0,55806.0,55739.0,55617.0,55461.0,55312.0,55197.0
DZA,Algeria,35977451.0,36661438.0,37383899.0,38140135.0,38923688.0,39728020.0,40551398.0,41389174.0,42228415.0,43053054.0,43851043.0
ALB,Albania,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2837849.0
AFG,Afghanistan,29185511.0,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0

In [217]:
#5 Highest population countries
high_pop_cnt_list = []
highest_pop_countries = cnt_final_df.sort_values(['YR2010'], ascending=False).head(5)
high_pop_cnt_list = list(highest_pop_countries['Country'])
highest_pop_countries

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,,
CHN,China,1.337705e+09,1.345035e+09,1.354190e+09,1.363240e+09,1.371860e+09,1.379860e+09,1.387790e+09,1.396215e+09,1.402760e+09,1.407745e+09,1.410929e+09
IND,India,1.234281e+09,1.250288e+09,1.265780e+09,1.280842e+09,1.295601e+09,1.310152e+09,1.324517e+09,1.338677e+09,1.352642e+09,1.366418e+09,1.380004e+09
USA,United States,3.093271e+08,3.115835e+08,3.138777e+08,3.160599e+08,3.183863e+08,3.207390e+08,3.230718e+08,3.251221e+08,3.268382e+08,3.283300e+08,3.315011e+08
IDN,Indonesia,2.418342e+08,2.451160e+08,2.484517e+08,2.518053e+08,2.551281e+08,2.583833e+08,2.615564e+08,2.646510e+08,2.676705e+08,2.706256e+08,2.735236e+08
BRA,Brazil,1.957136e+08,1.975145e+08,1.992873e+08,2.010359e+08,2.027637e+08,2.044718e+08,2.061631e+08,2.078338e+08,2.094693e+08,2.110495e+08,2.125594e+08

In [218]:
highest_pop_countries['2011-2010'] = highest_pop_countries.YR2011 - highest_pop_countries.YR2010
highest_pop_countries['2012-2011'] = highest_pop_countries.YR2012 - highest_pop_countries.YR2011
highest_pop_countries['2013-2012'] = highest_pop_countries.YR2013 - highest_pop_countries.YR2012
highest_pop_countries['2014-2013'] = highest_pop_countries.YR2014 - highest_pop_countries.YR2013
highest_pop_countries['2015-2014'] = highest_pop_countries.YR2015 - highest_pop_countries.YR2014
highest_pop_countries['2016-2015'] = highest_pop_countries.YR2016 - highest_pop_countries.YR2015
highest_pop_countries['2017-2016'] = highest_pop_countries.YR2017 - highest_pop_countries.YR2016
highest_pop_countries['2018-2017'] = highest_pop_countries.YR2018 - highest_pop_countries.YR2017
highest_pop_countries['2019-2018'] = highest_pop_countries.YR2019 - highest_pop_countries.YR2018
highest_pop_countries['2020-2019'] = highest_pop_countries.YR2020 - highest_pop_countries.YR2019
highest_pop_countries['% change over 2011-2010'] = round((highest_pop_countries ['2011-2010'] / highest_pop_countries ['YR2011']) * 100, 2)
highest_pop_countries['% change over 2012-2011'] = round((highest_pop_countries ['2012-2011'] / highest_pop_countries ['YR2012']) * 100, 2)
highest_pop_countries['% change over 2013-2012'] = round((highest_pop_countries ['2013-2012'] / highest_pop_countries ['YR2013']) * 100, 2)
highest_pop_countries['% change over 2014-2013'] = round((highest_pop_countries ['2014-2013'] / highest_pop_countries ['YR2014']) * 100, 2)
highest_pop_countries['% change over 2015-2014'] = round((highest_pop_countries ['2015-2014'] / highest_pop_countries ['YR2015']) * 100, 2)
highest_pop_countries['% change over 2016-2015'] = round((highest_pop_countries ['2016-2015'] / highest_pop_countries ['YR2016']) * 100, 2)
highest_pop_countries['% change over 2017-2016'] = round((highest_pop_countries ['2017-2016'] / highest_pop_countries ['YR2017']) * 100, 2)
highest_pop_countries['% change over 2018-2017'] = round((highest_pop_countries ['2018-2017'] / highest_pop_countries ['YR2018']) * 100, 2)
highest_pop_countries['% change over 2019-2018'] = round((highest_pop_countries ['2019-2018'] / highest_pop_countries ['YR2019']) * 100, 2)
highest_pop_countries['% change over 2020-2019'] = round((highest_pop_countries ['2020-2019'] / highest_pop_countries ['YR2020']) * 100, 2)

highest_pop_countries

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,...,% change over 2011-2010,% change over 2012-2011,% change over 2013-2012,% change over 2014-2013,% change over 2015-2014,% change over 2016-2015,% change over 2017-2016,% change over 2018-2017,% change over 2019-2018,% change over 2020-2019
economy,,,,,,,,,,,,,,,,,,,,,
CHN,China,1.337705e+09,1.345035e+09,1.354190e+09,1.363240e+09,1.371860e+09,1.379860e+09,1.387790e+09,1.396215e+09,1.402760e+09,...,0.54,0.68,0.66,0.63,0.58,0.57,0.60,0.47,0.35,0.23
IND,India,1.234281e+09,1.250288e+09,1.265780e+09,1.280842e+09,1.295601e+09,1.310152e+09,1.324517e+09,1.338677e+09,1.352642e+09,...,1.28,1.22,1.18,1.14,1.11,1.08,1.06,1.03,1.01,0.98
USA,United States,3.093271e+08,3.115835e+08,3.138777e+08,3.160599e+08,3.183863e+08,3.207390e+08,3.230718e+08,3.251221e+08,3.268382e+08,...,0.72,0.73,0.69,0.73,0.73,0.72,0.63,0.53,0.45,0.96
IDN,Indonesia,2.418342e+08,2.451160e+08,2.484517e+08,2.518053e+08,2.551281e+08,2.583833e+08,2.615564e+08,2.646510e+08,2.676705e+08,...,1.34,1.34,1.33,1.30,1.26,1.21,1.17,1.13,1.09,1.06
BRA,Brazil,1.957136e+08,1.975145e+08,1.992873e+08,2.010359e+08,2.027637e+08,2.044718e+08,2.061631e+08,2.078338e+08,2.094693e+08,...,0.91,0.89,0.87,0.85,0.84,0.82,0.80,0.78,0.75,0.71

In [219]:
#5 Lowest population countries
low_pop_cnt_list = []
lowest_pop_countries=cnt_final_df.sort_values(['YR2010'], ascending=True).head(5)
low_pop_cnt_list = list(lowest_pop_countries['Country'])
lowest_pop_countries

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,,
NRU,Nauru,10009.0,10069.0,10136.0,10208.0,10289.0,10374.0,10474.0,10577.0,10678.0,10764.0,10834.0
TUV,Tuvalu,10521.0,10626.0,10744.0,10849.0,10973.0,11099.0,11232.0,11365.0,11505.0,11655.0,11792.0
PLW,Palau,17954.0,17748.0,17635.0,17603.0,17625.0,17665.0,17718.0,17809.0,17911.0,18001.0,18092.0
VGB,British Virgin Islands,27796.0,28326.0,28654.0,28850.0,28985.0,29148.0,29355.0,29567.0,29795.0,30033.0,30237.0
SMR,San Marino,31221.0,31655.0,32103.0,32554.0,32941.0,33270.0,33503.0,33671.0,33784.0,33864.0,33938.0

In [220]:
lowest_pop_countries['2011-2010'] = lowest_pop_countries.YR2011 - lowest_pop_countries.YR2010
lowest_pop_countries['2012-2011'] = lowest_pop_countries.YR2012 - lowest_pop_countries.YR2011
lowest_pop_countries['2013-2012'] = lowest_pop_countries.YR2013 - lowest_pop_countries.YR2012
lowest_pop_countries['2014-2013'] = lowest_pop_countries.YR2014 - lowest_pop_countries.YR2013
lowest_pop_countries['2015-2014'] = lowest_pop_countries.YR2015 - lowest_pop_countries.YR2014
lowest_pop_countries['2016-2015'] = lowest_pop_countries.YR2016 - lowest_pop_countries.YR2015
lowest_pop_countries['2017-2016'] = lowest_pop_countries.YR2017 - lowest_pop_countries.YR2016
lowest_pop_countries['2018-2017'] = lowest_pop_countries.YR2018 - lowest_pop_countries.YR2017
lowest_pop_countries['2019-2018'] = lowest_pop_countries.YR2019 - lowest_pop_countries.YR2018
lowest_pop_countries['2020-2019'] = lowest_pop_countries.YR2020 - lowest_pop_countries.YR2019
lowest_pop_countries['% change over 2011-2010'] = round((lowest_pop_countries ['2011-2010'] / lowest_pop_countries ['YR2011']) * 100, 2)
lowest_pop_countries['% change over 2012-2011'] = round((lowest_pop_countries ['2012-2011'] / lowest_pop_countries ['YR2012']) * 100, 2)
lowest_pop_countries['% change over 2013-2012'] = round((lowest_pop_countries ['2013-2012'] / lowest_pop_countries ['YR2013']) * 100, 2)
lowest_pop_countries['% change over 2014-2013'] = round((lowest_pop_countries ['2014-2013'] / lowest_pop_countries ['YR2014']) * 100, 2)
lowest_pop_countries['% change over 2015-2014'] = round((lowest_pop_countries ['2015-2014'] / lowest_pop_countries ['YR2015']) * 100, 2)
lowest_pop_countries['% change over 2016-2015'] = round((lowest_pop_countries ['2016-2015'] / lowest_pop_countries ['YR2016']) * 100, 2)
lowest_pop_countries['% change over 2017-2016'] = round((lowest_pop_countries ['2017-2016'] / lowest_pop_countries ['YR2017']) * 100, 2)
lowest_pop_countries['% change over 2018-2017'] = round((lowest_pop_countries ['2018-2017'] / lowest_pop_countries ['YR2018']) * 100, 2)
lowest_pop_countries['% change over 2019-2018'] = round((lowest_pop_countries ['2019-2018'] / lowest_pop_countries ['YR2019']) * 100, 2)
lowest_pop_countries['% change over 2020-2019'] = round((lowest_pop_countries ['2020-2019'] / lowest_pop_countries ['YR2020']) * 100, 2)

lowest_pop_countries

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,...,% change over 2011-2010,% change over 2012-2011,% change over 2013-2012,% change over 2014-2013,% change over 2015-2014,% change over 2016-2015,% change over 2017-2016,% change over 2018-2017,% change over 2019-2018,% change over 2020-2019
economy,,,,,,,,,,,,,,,,,,,,,
NRU,Nauru,10009.0,10069.0,10136.0,10208.0,10289.0,10374.0,10474.0,10577.0,10678.0,...,0.60,0.66,0.71,0.79,0.82,0.95,0.97,0.95,0.80,0.65
TUV,Tuvalu,10521.0,10626.0,10744.0,10849.0,10973.0,11099.0,11232.0,11365.0,11505.0,...,0.99,1.10,0.97,1.13,1.14,1.18,1.17,1.22,1.29,1.16
PLW,Palau,17954.0,17748.0,17635.0,17603.0,17625.0,17665.0,17718.0,17809.0,17911.0,...,-1.16,-0.64,-0.18,0.12,0.23,0.30,0.51,0.57,0.50,0.50
VGB,British Virgin Islands,27796.0,28326.0,28654.0,28850.0,28985.0,29148.0,29355.0,29567.0,29795.0,...,1.87,1.14,0.68,0.47,0.56,0.71,0.72,0.77,0.79,0.67
SMR,San Marino,31221.0,31655.0,32103.0,32554.0,32941.0,33270.0,33503.0,33671.0,33784.0,...,1.37,1.40,1.39,1.17,0.99,0.70,0.50,0.33,0.24,0.22

In [221]:
#GDP per capita country wise from 2010 to 2020
gdppercap=wb.data.DataFrame('NY.GDP.MKTP.CD', ['ALL'], time=range(2010, 2021, 1), labels=True, skipAggs=False)
#Fill NULL values with zero(0)
gdppercap = gdppercap.fillna(0)
gdppercap

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,,
ZWE,Zimbabwe,1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,1.811554e+10,1.928429e+10,1.805117e+10
ZMB,Zambia,2.026556e+10,2.345952e+10,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10,1.811063e+10
YEM,"Yemen, Rep.",3.090675e+10,3.272642e+10,3.540134e+10,4.041524e+10,4.322859e+10,4.244510e+10,3.131737e+10,2.684013e+10,2.160614e+10,0.000000e+00,0.000000e+00
PSE,West Bank and Gaza,9.681500e+09,1.118610e+10,1.220840e+10,1.351550e+10,1.398970e+10,1.397240e+10,1.540540e+10,1.612800e+10,1.627660e+10,1.713350e+10,1.556130e+10
VIR,Virgin Islands (U.S.),4.324000e+09,4.223000e+09,4.089000e+09,3.738000e+09,3.565000e+09,3.663000e+09,3.798000e+09,3.794000e+09,3.900000e+09,4.068000e+09,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...
CEB,Central Europe and the Baltics,1.318170e+12,1.449339e+12,1.353315e+12,1.422764e+12,1.465928e+12,1.293064e+12,1.321562e+12,1.464533e+12,1.645463e+12,1.673863e+12,1.653248e+12
CSS,Caribbean small states,6.452445e+10,6.966827e+10,7.205112e+10,7.334541e+10,7.447092e+10,7.324330e+10,6.959870e+10,7.169363e+10,7.531283e+10,7.617367e+10,6.603933e+10
ARB,Arab World,2.311237e+12,2.501780e+12,2.740553e+12,2.799579e+12,2.831681e+12,2.463580e+12,2.411981e+12,2.466443e+12,2.730780e+12,2.776469e+12,2.447584e+12
AFW,Africa Western and Central,5.915830e+11,6.709626e+11,7.275714e+11,8.207876e+11,8.649666e+11,7.607297e+11,6.905430e+11,6.837416e+11,7.416916e+11,7.945725e+11,7.845876e+11
AFE,Africa Eastern and Southern,8.474095e+11,9.433782e+11,9.505214e+11,9.642424e+11,9.848071e+11,9.199300e+11,8.733549e+11,9.853557e+11,1.012853e+12,1.009910e+12,9.207923e+11

In [222]:
#GDP per capita on 5 highest population countries from 2010 to 2020
high_pop_cnt_gdp=gdppercap[gdppercap['Country'].isin(high_pop_cnt_list)]
high_pop_cnt_gdp

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,,
USA,United States,1.499205e+13,1.554258e+13,1.619701e+13,1.678485e+13,1.752716e+13,1.823830e+13,1.874508e+13,1.954298e+13,2.061186e+13,2.143322e+13,2.095303e+13
IDN,Indonesia,7.550942e+11,8.929691e+11,9.178699e+11,9.125241e+11,8.908148e+11,8.608542e+11,9.318774e+11,1.015619e+12,1.042272e+12,1.119091e+12,1.058424e+12
IND,India,1.675615e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12,2.294798e+12,2.651473e+12,2.701112e+12,2.870504e+12,2.660245e+12
CHN,China,6.087164e+12,7.551500e+12,8.532230e+12,9.570406e+12,1.047568e+13,1.106155e+13,1.123328e+13,1.231041e+13,1.389482e+13,1.427994e+13,1.472273e+13
BRA,Brazil,2.208838e+12,2.616157e+12,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12,1.795693e+12,2.063515e+12,1.916934e+12,1.877824e+12,1.444733e+12

In [223]:
#high_pop_cnt_gdp.loc[high_pop_cnt_gdp.Country == 'United States', '2011-2010'] = high_pop_cnt_gdp.YR2011 - high_pop_cnt_gdp.YR2010
#GDP_2011 = high_pop_cnt_gdp[high_pop_cnt_gdp.Country == 'United States']['2011-2010']

#high_pop_cnt_gdp.loc[high_pop_cnt_gdp.Country == 'United States', '% change over 2011-2010'] = round((GDP_2011/ high_pop_cnt_gdp ['YR2011']) * 100, 2)
#high_pop_cnt_gdp[high_pop_cnt_gdp.Country == 'United States']['% change over 2011-2010']
#high_pop_cnt_gdp

In [224]:
high_pop_cnt_gdp['2011-2010'] = high_pop_cnt_gdp.YR2011 - high_pop_cnt_gdp.YR2010
high_pop_cnt_gdp['2012-2011'] = high_pop_cnt_gdp.YR2012 - high_pop_cnt_gdp.YR2011
high_pop_cnt_gdp['2013-2012'] = high_pop_cnt_gdp.YR2013 - high_pop_cnt_gdp.YR2012
high_pop_cnt_gdp['2014-2013'] = high_pop_cnt_gdp.YR2014 - high_pop_cnt_gdp.YR2013
high_pop_cnt_gdp['2015-2014'] = high_pop_cnt_gdp.YR2015 - high_pop_cnt_gdp.YR2014
high_pop_cnt_gdp['2016-2015'] = high_pop_cnt_gdp.YR2016 - high_pop_cnt_gdp.YR2015
high_pop_cnt_gdp['2017-2016'] = high_pop_cnt_gdp.YR2017 - high_pop_cnt_gdp.YR2016
high_pop_cnt_gdp['2018-2017'] = high_pop_cnt_gdp.YR2018 - high_pop_cnt_gdp.YR2017
high_pop_cnt_gdp['2019-2018'] = high_pop_cnt_gdp.YR2019 - high_pop_cnt_gdp.YR2018
high_pop_cnt_gdp['2020-2019'] = high_pop_cnt_gdp.YR2020 - high_pop_cnt_gdp.YR2019
high_pop_cnt_gdp['% change over 2011-2010'] = round((high_pop_cnt_gdp ['2011-2010'] / high_pop_cnt_gdp ['YR2011']) * 100, 2)        
high_pop_cnt_gdp['% change over 2012-2011'] = round((high_pop_cnt_gdp ['2012-2011'] / high_pop_cnt_gdp ['YR2012']) * 100, 2)
high_pop_cnt_gdp['% change over 2013-2012'] = round((high_pop_cnt_gdp ['2013-2012'] / high_pop_cnt_gdp ['YR2013']) * 100, 2)
high_pop_cnt_gdp['% change over 2014-2013'] = round((high_pop_cnt_gdp ['2014-2013'] / high_pop_cnt_gdp ['YR2014']) * 100, 2)
high_pop_cnt_gdp['% change over 2015-2014'] = round((high_pop_cnt_gdp ['2015-2014'] / high_pop_cnt_gdp ['YR2015']) * 100, 2)
high_pop_cnt_gdp['% change over 2016-2015'] = round((high_pop_cnt_gdp ['2016-2015'] / high_pop_cnt_gdp ['YR2016']) * 100, 2)
high_pop_cnt_gdp['% change over 2017-2016'] = round((high_pop_cnt_gdp ['2017-2016'] / high_pop_cnt_gdp ['YR2017']) * 100, 2)
high_pop_cnt_gdp['% change over 2018-2017'] = round((high_pop_cnt_gdp ['2018-2017'] / high_pop_cnt_gdp ['YR2018']) * 100, 2)
high_pop_cnt_gdp['% change over 2019-2018'] = round((high_pop_cnt_gdp ['2019-2018'] / high_pop_cnt_gdp ['YR2019']) * 100, 2)
high_pop_cnt_gdp['% change over 2020-2019'] = round((high_pop_cnt_gdp ['2020-2019'] / high_pop_cnt_gdp ['YR2020']) * 100, 2)

high_pop_cnt_gdp

# Setting the new value
#data.loc[data.bidder == 'parakeet2004', 'bidderrate'] = 100
# Taking a look at the result
#data[data.bidder == 'parakeet2004']['bidderrate']

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,...,% change over 2011-2010,% change over 2012-2011,% change over 2013-2012,% change over 2014-2013,% change over 2015-2014,% change over 2016-2015,% change over 2017-2016,% change over 2018-2017,% change over 2019-2018,% change over 2020-2019
economy,,,,,,,,,,,,,,,,,,,,,
USA,United States,1.499205e+13,1.554258e+13,1.619701e+13,1.678485e+13,1.752716e+13,1.823830e+13,1.874508e+13,1.954298e+13,2.061186e+13,...,3.54,4.04,3.50,4.24,3.90,2.70,4.08,5.19,3.83,-2.29
IDN,Indonesia,7.550942e+11,8.929691e+11,9.178699e+11,9.125241e+11,8.908148e+11,8.608542e+11,9.318774e+11,1.015619e+12,1.042272e+12,...,15.44,2.71,-0.59,-2.44,-3.48,7.62,8.25,2.56,6.86,-5.73
IND,India,1.675615e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12,2.294798e+12,2.651473e+12,2.701112e+12,...,8.09,0.25,1.57,8.95,3.06,8.33,13.45,1.84,5.90,-7.90
CHN,China,6.087164e+12,7.551500e+12,8.532230e+12,9.570406e+12,1.047568e+13,1.106155e+13,1.123328e+13,1.231041e+13,1.389482e+13,...,19.39,11.49,10.85,8.64,5.30,1.53,8.75,11.40,2.70,3.01
BRA,Brazil,2.208838e+12,2.616157e+12,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12,1.795693e+12,2.063515e+12,1.916934e+12,...,15.57,-6.12,0.31,-0.68,-36.28,-0.36,12.98,-7.65,-2.08,-29.98

In [225]:
#GDP per capita on 5 lowest population countries from 2010 to 2020
low_pop_cnt_gdp=gdppercap[gdppercap['Country'].isin(low_pop_cnt_list)]
low_pop_cnt_gdp

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,,
TUV,Tuvalu,3.182352e+07,3.871181e+07,3.767177e+07,3.750908e+07,3.729061e+07,3.549207e+07,3.654780e+07,4.061925e+07,4.258816e+07,4.727146e+07,4.885555e+07
SMR,San Marino,1.881214e+09,1.813753e+09,1.604780e+09,1.678842e+09,1.673974e+09,1.419395e+09,1.468377e+09,1.528631e+09,1.655301e+09,1.616370e+09,0.000000e+00
PLW,Palau,1.859430e+08,1.969111e+08,2.123978e+08,2.211172e+08,2.416698e+08,2.804577e+08,2.983000e+08,2.853000e+08,2.847000e+08,2.742000e+08,2.577000e+08
NRU,Nauru,4.756452e+07,6.605541e+07,9.692720e+07,9.849184e+07,1.046544e+08,8.652966e+07,9.972339e+07,1.093597e+08,1.240214e+08,1.187241e+08,1.146266e+08
VGB,British Virgin Islands,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [226]:
low_pop_cnt_gdp['2011-2010'] = low_pop_cnt_gdp.YR2011 - low_pop_cnt_gdp.YR2010
low_pop_cnt_gdp['2012-2011'] = low_pop_cnt_gdp.YR2012 - low_pop_cnt_gdp.YR2011
low_pop_cnt_gdp['2013-2012'] = low_pop_cnt_gdp.YR2013 - low_pop_cnt_gdp.YR2012
low_pop_cnt_gdp['2014-2013'] = low_pop_cnt_gdp.YR2014 - low_pop_cnt_gdp.YR2013
low_pop_cnt_gdp['2015-2014'] = low_pop_cnt_gdp.YR2015 - low_pop_cnt_gdp.YR2014
low_pop_cnt_gdp['2016-2015'] = low_pop_cnt_gdp.YR2016 - low_pop_cnt_gdp.YR2015
low_pop_cnt_gdp['2017-2016'] = low_pop_cnt_gdp.YR2017 - low_pop_cnt_gdp.YR2016
low_pop_cnt_gdp['2018-2017'] = low_pop_cnt_gdp.YR2018 - low_pop_cnt_gdp.YR2017
low_pop_cnt_gdp['2019-2018'] = low_pop_cnt_gdp.YR2019 - low_pop_cnt_gdp.YR2018
low_pop_cnt_gdp['2020-2019'] = low_pop_cnt_gdp.YR2020 - low_pop_cnt_gdp.YR2019
low_pop_cnt_gdp['% change over 2011-2010'] = round((low_pop_cnt_gdp ['2011-2010'] / low_pop_cnt_gdp ['YR2011']) * 100, 2)
low_pop_cnt_gdp['% change over 2012-2011'] = round((low_pop_cnt_gdp ['2012-2011'] / low_pop_cnt_gdp ['YR2012']) * 100, 2)
low_pop_cnt_gdp['% change over 2013-2012'] = round((low_pop_cnt_gdp ['2013-2012'] / low_pop_cnt_gdp ['YR2013']) * 100, 2)
low_pop_cnt_gdp['% change over 2014-2013'] = round((low_pop_cnt_gdp ['2014-2013'] / low_pop_cnt_gdp ['YR2014']) * 100, 2)
low_pop_cnt_gdp['% change over 2015-2014'] = round((low_pop_cnt_gdp ['2015-2014'] / low_pop_cnt_gdp ['YR2015']) * 100, 2)
low_pop_cnt_gdp['% change over 2016-2015'] = round((low_pop_cnt_gdp ['2016-2015'] / low_pop_cnt_gdp ['YR2016']) * 100, 2)
low_pop_cnt_gdp['% change over 2017-2016'] = round((low_pop_cnt_gdp ['2017-2016'] / low_pop_cnt_gdp ['YR2017']) * 100, 2)
low_pop_cnt_gdp['% change over 2018-2017'] = round((low_pop_cnt_gdp ['2018-2017'] / low_pop_cnt_gdp ['YR2018']) * 100, 2)
low_pop_cnt_gdp['% change over 2019-2018'] = round((low_pop_cnt_gdp ['2019-2018'] / low_pop_cnt_gdp ['YR2019']) * 100, 2)
low_pop_cnt_gdp['% change over 2020-2019'] = round((low_pop_cnt_gdp ['2020-2019'] / low_pop_cnt_gdp ['YR2020']) * 100, 2)

low_pop_cnt_gdp

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,...,% change over 2011-2010,% change over 2012-2011,% change over 2013-2012,% change over 2014-2013,% change over 2015-2014,% change over 2016-2015,% change over 2017-2016,% change over 2018-2017,% change over 2019-2018,% change over 2020-2019
economy,,,,,,,,,,,,,,,,,,,,,
TUV,Tuvalu,3.182352e+07,3.871181e+07,3.767177e+07,3.750908e+07,3.729061e+07,3.549207e+07,3.654780e+07,4.061925e+07,4.258816e+07,...,17.79,-2.76,-0.43,-0.59,-5.07,2.89,10.02,4.62,9.91,3.24
SMR,San Marino,1.881214e+09,1.813753e+09,1.604780e+09,1.678842e+09,1.673974e+09,1.419395e+09,1.468377e+09,1.528631e+09,1.655301e+09,...,-3.72,-13.02,4.41,-0.29,-17.94,3.34,3.94,7.65,-2.41,-inf
PLW,Palau,1.859430e+08,1.969111e+08,2.123978e+08,2.211172e+08,2.416698e+08,2.804577e+08,2.983000e+08,2.853000e+08,2.847000e+08,...,5.57,7.29,3.94,8.50,13.83,5.98,-4.56,-0.21,-3.83,-6.40
NRU,Nauru,4.756452e+07,6.605541e+07,9.692720e+07,9.849184e+07,1.046544e+08,8.652966e+07,9.972339e+07,1.093597e+08,1.240214e+08,...,27.99,31.85,1.59,5.89,-20.95,13.23,8.81,11.82,-4.46,-3.57
VGB,British Virgin Islands,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [227]:
#Income country wise from 2010 to 2020
country_income = wb.data.DataFrame('NY.ADJ.NNTY.CD', ['ALL'], time=range(2010, 2021, 1), labels=True, skipAggs=False)
#Fill NULL values with zero(0)
country_income = country_income.fillna(0)
country_income

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,,
ZWE,Zimbabwe,9.170813e+09,1.029498e+10,1.298166e+10,1.558168e+10,1.581850e+10,1.630806e+10,1.695689e+10,1.805468e+10,2.012899e+10,1.769583e+10,0.0
ZMB,Zambia,1.402868e+10,1.685849e+10,1.978901e+10,2.137182e+10,2.153770e+10,1.698331e+10,1.652510e+10,1.968537e+10,2.035831e+10,1.873697e+10,0.0
YEM,"Yemen, Rep.",2.298642e+10,2.456614e+10,2.897344e+10,3.440905e+10,3.672821e+10,3.897342e+10,2.948515e+10,2.546283e+10,2.232634e+10,2.175168e+10,0.0
PSE,West Bank and Gaza,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
VIR,Virgin Islands (U.S.),0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
CEB,Central Europe and the Baltics,1.054741e+12,1.155919e+12,1.084213e+12,1.147639e+12,1.183463e+12,1.042850e+12,1.064623e+12,1.186542e+12,1.334921e+12,1.367037e+12,0.0
CSS,Caribbean small states,5.158995e+10,5.290184e+10,5.553305e+10,5.831587e+10,6.086009e+10,6.199885e+10,5.765167e+10,5.990885e+10,6.140638e+10,6.599393e+10,0.0
ARB,Arab World,1.641853e+12,1.904190e+12,2.137961e+12,2.235699e+12,2.300079e+12,2.096220e+12,2.074264e+12,2.083345e+12,2.239665e+12,2.301395e+12,0.0
AFW,Africa Western and Central,4.387339e+11,4.797747e+11,5.348403e+11,6.202709e+11,6.703697e+11,6.272790e+11,5.714710e+11,5.523408e+11,5.839069e+11,6.366166e+11,0.0
AFE,Africa Eastern and Southern,6.042778e+11,6.788171e+11,7.124839e+11,7.287725e+11,7.608266e+11,7.395793e+11,6.971375e+11,7.770704e+11,7.892611e+11,7.909160e+11,0.0

In [228]:
#Income on 5 highest population countries from 2010 to 2020
high_pop_cnt_income=country_income[country_income['Country'].isin(high_pop_cnt_list)]
high_pop_cnt_income

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,,
USA,United States,1.268116e+13,1.327940e+13,1.403892e+13,1.443304e+13,1.518747e+13,1.578662e+13,1.604178e+13,1.668327e+13,1.749903e+13,1.819584e+13,0.0
IDN,Indonesia,5.655878e+11,6.620071e+11,6.886779e+11,6.871031e+11,6.698961e+11,6.618144e+11,7.374618e+11,8.039138e+11,8.260232e+11,8.877351e+11,0.0
IND,India,1.447722e+12,1.573697e+12,1.581067e+12,1.600433e+12,1.773162e+12,1.841378e+12,1.994451e+12,2.322047e+12,2.370758e+12,2.489560e+12,0.0
CHN,China,4.940594e+12,5.878459e+12,6.849240e+12,7.635296e+12,8.464844e+12,8.948303e+12,9.185433e+12,1.019895e+13,1.138913e+13,1.173197e+13,0.0
BRA,Brazil,1.913064e+12,2.269851e+12,2.149650e+12,2.186978e+12,2.164466e+12,1.601329e+12,1.596448e+12,1.832860e+12,1.644502e+12,1.610061e+12,0.0

In [229]:
high_pop_cnt_income['2011-2010'] = high_pop_cnt_income.YR2011 - high_pop_cnt_income.YR2010
high_pop_cnt_income['2012-2011'] = high_pop_cnt_income.YR2012 - high_pop_cnt_income.YR2011
high_pop_cnt_income['2013-2012'] = high_pop_cnt_income.YR2013 - high_pop_cnt_income.YR2012
high_pop_cnt_income['2014-2013'] = high_pop_cnt_income.YR2014 - high_pop_cnt_income.YR2013
high_pop_cnt_income['2015-2014'] = high_pop_cnt_income.YR2015 - high_pop_cnt_income.YR2014
high_pop_cnt_income['2016-2015'] = high_pop_cnt_income.YR2016 - high_pop_cnt_income.YR2015
high_pop_cnt_income['2017-2016'] = high_pop_cnt_income.YR2017 - high_pop_cnt_income.YR2016
high_pop_cnt_income['2018-2017'] = high_pop_cnt_income.YR2018 - high_pop_cnt_income.YR2017
high_pop_cnt_income['2019-2018'] = high_pop_cnt_income.YR2019 - high_pop_cnt_income.YR2018
high_pop_cnt_income['2020-2019'] = high_pop_cnt_income.YR2020 - high_pop_cnt_income.YR2019
high_pop_cnt_income['% change over 2011-2010'] = round((high_pop_cnt_income ['2011-2010'] / high_pop_cnt_income ['YR2011']) * 100, 2)
high_pop_cnt_income['% change over 2012-2011'] = round((high_pop_cnt_income ['2012-2011'] / high_pop_cnt_income ['YR2012']) * 100, 2)
high_pop_cnt_income['% change over 2013-2012'] = round((high_pop_cnt_income ['2013-2012'] / high_pop_cnt_income ['YR2013']) * 100, 2)
high_pop_cnt_income['% change over 2014-2013'] = round((high_pop_cnt_income ['2014-2013'] / high_pop_cnt_income ['YR2014']) * 100, 2)
high_pop_cnt_income['% change over 2015-2014'] = round((high_pop_cnt_income ['2015-2014'] / high_pop_cnt_income ['YR2015']) * 100, 2)
high_pop_cnt_income['% change over 2016-2015'] = round((high_pop_cnt_income ['2016-2015'] / high_pop_cnt_income ['YR2016']) * 100, 2)
high_pop_cnt_income['% change over 2017-2016'] = round((high_pop_cnt_income ['2017-2016'] / high_pop_cnt_income ['YR2017']) * 100, 2)
high_pop_cnt_income['% change over 2018-2017'] = round((high_pop_cnt_income ['2018-2017'] / high_pop_cnt_income ['YR2018']) * 100, 2)
high_pop_cnt_income['% change over 2019-2018'] = round((high_pop_cnt_income ['2019-2018'] / high_pop_cnt_income ['YR2019']) * 100, 2)
high_pop_cnt_income['% change over 2020-2019'] = round((high_pop_cnt_income ['2020-2019'] / high_pop_cnt_income ['YR2020']) * 100, 2)

high_pop_cnt_income

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,...,% change over 2011-2010,% change over 2012-2011,% change over 2013-2012,% change over 2014-2013,% change over 2015-2014,% change over 2016-2015,% change over 2017-2016,% change over 2018-2017,% change over 2019-2018,% change over 2020-2019
economy,,,,,,,,,,,,,,,,,,,,,
USA,United States,1.268116e+13,1.327940e+13,1.403892e+13,1.443304e+13,1.518747e+13,1.578662e+13,1.604178e+13,1.668327e+13,1.749903e+13,...,4.51,5.41,2.73,4.97,3.80,1.59,3.85,4.66,3.83,-inf
IDN,Indonesia,5.655878e+11,6.620071e+11,6.886779e+11,6.871031e+11,6.698961e+11,6.618144e+11,7.374618e+11,8.039138e+11,8.260232e+11,...,14.56,3.87,-0.23,-2.57,-1.22,10.26,8.27,2.68,6.95,-inf
IND,India,1.447722e+12,1.573697e+12,1.581067e+12,1.600433e+12,1.773162e+12,1.841378e+12,1.994451e+12,2.322047e+12,2.370758e+12,...,8.00,0.47,1.21,9.74,3.70,7.67,14.11,2.05,4.77,-inf
CHN,China,4.940594e+12,5.878459e+12,6.849240e+12,7.635296e+12,8.464844e+12,8.948303e+12,9.185433e+12,1.019895e+13,1.138913e+13,...,15.95,14.17,10.30,9.80,5.40,2.58,9.94,10.45,2.92,-inf
BRA,Brazil,1.913064e+12,2.269851e+12,2.149650e+12,2.186978e+12,2.164466e+12,1.601329e+12,1.596448e+12,1.832860e+12,1.644502e+12,...,15.72,-5.59,1.71,-1.04,-35.17,-0.31,12.90,-11.45,-2.14,-inf

In [230]:
#Income on 5 lowest population countries from 2010 to 2020
low_pop_cnt_income=country_income[country_income['Country'].isin(low_pop_cnt_list)]
low_pop_cnt_income

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,,
TUV,Tuvalu,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SMR,San Marino,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PLW,Palau,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NRU,Nauru,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
VGB,British Virgin Islands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [231]:
low_pop_cnt_income['2011-2010'] = low_pop_cnt_income.YR2011 - low_pop_cnt_income.YR2010
low_pop_cnt_income['2012-2011'] = low_pop_cnt_income.YR2012 - low_pop_cnt_income.YR2011
low_pop_cnt_income['2013-2012'] = low_pop_cnt_income.YR2013 - low_pop_cnt_income.YR2012
low_pop_cnt_income['2014-2013'] = low_pop_cnt_income.YR2014 - low_pop_cnt_income.YR2013
low_pop_cnt_income['2015-2014'] = low_pop_cnt_income.YR2015 - low_pop_cnt_income.YR2014
low_pop_cnt_income['2016-2015'] = low_pop_cnt_income.YR2016 - low_pop_cnt_income.YR2015
low_pop_cnt_income['2017-2016'] = low_pop_cnt_income.YR2017 - low_pop_cnt_income.YR2016
low_pop_cnt_income['2018-2017'] = low_pop_cnt_income.YR2018 - low_pop_cnt_income.YR2017
low_pop_cnt_income['2019-2018'] = low_pop_cnt_income.YR2019 - low_pop_cnt_income.YR2018
low_pop_cnt_income['2020-2019'] = low_pop_cnt_income.YR2020 - low_pop_cnt_income.YR2019
low_pop_cnt_income['% change over 2011-2010'] = round((low_pop_cnt_income ['2011-2010'] / low_pop_cnt_income ['YR2011']) * 100, 2)
low_pop_cnt_income['% change over 2012-2011'] = round((low_pop_cnt_income ['2012-2011'] / low_pop_cnt_income ['YR2012']) * 100, 2)
low_pop_cnt_income['% change over 2013-2012'] = round((low_pop_cnt_income ['2013-2012'] / low_pop_cnt_income ['YR2013']) * 100, 2)
low_pop_cnt_income['% change over 2014-2013'] = round((low_pop_cnt_income ['2014-2013'] / low_pop_cnt_income ['YR2014']) * 100, 2)
low_pop_cnt_income['% change over 2015-2014'] = round((low_pop_cnt_income ['2015-2014'] / low_pop_cnt_income ['YR2015']) * 100, 2)
low_pop_cnt_income['% change over 2016-2015'] = round((low_pop_cnt_income ['2016-2015'] / low_pop_cnt_income ['YR2016']) * 100, 2)
low_pop_cnt_income['% change over 2017-2016'] = round((low_pop_cnt_income ['2017-2016'] / low_pop_cnt_income ['YR2017']) * 100, 2)
low_pop_cnt_income['% change over 2018-2017'] = round((low_pop_cnt_income ['2018-2017'] / low_pop_cnt_income ['YR2018']) * 100, 2)
low_pop_cnt_income['% change over 2019-2018'] = round((low_pop_cnt_income ['2019-2018'] / low_pop_cnt_income ['YR2019']) * 100, 2)
low_pop_cnt_income['% change over 2020-2019'] = round((low_pop_cnt_income ['2020-2019'] / low_pop_cnt_income ['YR2020']) * 100, 2)

low_pop_cnt_income

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,...,% change over 2011-2010,% change over 2012-2011,% change over 2013-2012,% change over 2014-2013,% change over 2015-2014,% change over 2016-2015,% change over 2017-2016,% change over 2018-2017,% change over 2019-2018,% change over 2020-2019
economy,,,,,,,,,,,,,,,,,,,,,
TUV,Tuvalu,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SMR,San Marino,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PLW,Palau,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NRU,Nauru,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VGB,British Virgin Islands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [232]:
#Unemployment on country wise from 2010 to 2020
unemployment_data = wb.data.DataFrame('SL.UEM.TOTL.ZS', ['ALL'], time=range(2010, 2021, 1), labels=True, skipAggs=False)
#Fill NULL values with zero(0)
unemployment_data = unemployment_data.fillna(0)
unemployment_data

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,,
ZWE,Zimbabwe,5.209000,5.370000,5.153000,4.982000,4.770000,4.778000,4.788000,4.785000,4.796000,4.833000,5.351000
ZMB,Zambia,13.190000,10.551000,7.850000,8.611000,9.362000,10.125000,10.872000,11.630000,12.010000,12.520000,12.848000
YEM,"Yemen, Rep.",12.831000,13.235000,13.167000,13.268000,13.470000,13.770000,13.433000,13.297000,13.145000,13.056000,13.391000
PSE,West Bank and Gaza,21.420000,17.600000,19.200001,19.889999,20.530001,23.000000,23.940001,25.680000,26.260000,25.340000,25.889999
VIR,Virgin Islands (U.S.),11.734000,12.080000,12.231000,12.755000,12.791000,12.617000,12.677000,12.325000,12.426000,12.468000,13.545000
...,...,...,...,...,...,...,...,...,...,...,...,...
CEB,Central Europe and the Baltics,9.902026,9.788678,9.977130,10.046926,8.951027,7.816836,6.488350,5.296799,4.316407,3.781251,4.372692
CSS,Caribbean small states,10.314303,10.494887,11.117319,11.656413,10.845225,10.552529,10.606048,9.763382,8.709370,8.017640,9.827410
ARB,Arab World,9.400912,10.476673,10.663129,10.735393,10.872227,10.965901,10.761115,10.896379,10.502336,10.006154,11.487321
AFW,Africa Western and Central,4.554662,4.548376,4.637602,4.410216,4.688088,4.626737,5.567017,6.019505,6.041092,6.063362,6.774914
AFE,Africa Eastern and Southern,6.867786,6.748081,6.562179,6.445456,6.405196,6.490041,6.610205,6.714955,6.731163,6.914353,7.563187

In [233]:
#Unemployment on 5 highest population countries from 2010 to 2020
high_pop_cnt_unemployment=unemployment_data[unemployment_data['Country'].isin(high_pop_cnt_list)]
high_pop_cnt_unemployment

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,,
USA,United States,9.630,8.950,8.070,7.370,6.170,5.280,4.870,4.360,3.90,3.67,8.050
IDN,Indonesia,5.610,5.150,4.470,4.340,4.050,4.510,4.300,3.880,4.40,3.62,4.280
IND,India,5.546,5.426,5.414,5.424,5.436,5.435,5.423,5.358,5.33,5.27,7.997
CHN,China,4.530,4.550,4.570,4.590,4.610,4.630,4.530,4.440,4.28,4.52,5.000
BRA,Brazil,7.274,6.920,7.190,6.980,6.660,8.430,11.600,12.820,12.33,11.93,13.690

In [234]:
high_pop_cnt_unemployment['2011-2010'] = high_pop_cnt_unemployment.YR2011 - high_pop_cnt_unemployment.YR2010
high_pop_cnt_unemployment['2012-2011'] = high_pop_cnt_unemployment.YR2012 - high_pop_cnt_unemployment.YR2011
high_pop_cnt_unemployment['2013-2012'] = high_pop_cnt_unemployment.YR2013 - high_pop_cnt_unemployment.YR2012
high_pop_cnt_unemployment['2014-2013'] = high_pop_cnt_unemployment.YR2014 - high_pop_cnt_unemployment.YR2013
high_pop_cnt_unemployment['2015-2014'] = high_pop_cnt_unemployment.YR2015 - high_pop_cnt_unemployment.YR2014
high_pop_cnt_unemployment['2016-2015'] = high_pop_cnt_unemployment.YR2016 - high_pop_cnt_unemployment.YR2015
high_pop_cnt_unemployment['2017-2016'] = high_pop_cnt_unemployment.YR2017 - high_pop_cnt_unemployment.YR2016
high_pop_cnt_unemployment['2018-2017'] = high_pop_cnt_unemployment.YR2018 - high_pop_cnt_unemployment.YR2017
high_pop_cnt_unemployment['2019-2018'] = high_pop_cnt_unemployment.YR2019 - high_pop_cnt_unemployment.YR2018
high_pop_cnt_unemployment['2020-2019'] = high_pop_cnt_unemployment.YR2020 - high_pop_cnt_unemployment.YR2019
high_pop_cnt_unemployment['% change over 2011-2010'] = round((high_pop_cnt_unemployment ['2011-2010'] / high_pop_cnt_unemployment ['YR2011']) * 100, 2)
high_pop_cnt_unemployment['% change over 2012-2011'] = round((high_pop_cnt_unemployment ['2012-2011'] / high_pop_cnt_unemployment ['YR2012']) * 100, 2)
high_pop_cnt_unemployment['% change over 2013-2012'] = round((high_pop_cnt_unemployment ['2013-2012'] / high_pop_cnt_unemployment ['YR2013']) * 100, 2)
high_pop_cnt_unemployment['% change over 2014-2013'] = round((high_pop_cnt_unemployment ['2014-2013'] / high_pop_cnt_unemployment ['YR2014']) * 100, 2)
high_pop_cnt_unemployment['% change over 2015-2014'] = round((high_pop_cnt_unemployment ['2015-2014'] / high_pop_cnt_unemployment ['YR2015']) * 100, 2)
high_pop_cnt_unemployment['% change over 2016-2015'] = round((high_pop_cnt_unemployment ['2016-2015'] / high_pop_cnt_unemployment ['YR2016']) * 100, 2)
high_pop_cnt_unemployment['% change over 2017-2016'] = round((high_pop_cnt_unemployment ['2017-2016'] / high_pop_cnt_unemployment ['YR2017']) * 100, 2)
high_pop_cnt_unemployment['% change over 2018-2017'] = round((high_pop_cnt_unemployment ['2018-2017'] / high_pop_cnt_unemployment ['YR2018']) * 100, 2)
high_pop_cnt_unemployment['% change over 2019-2018'] = round((high_pop_cnt_unemployment ['2019-2018'] / high_pop_cnt_unemployment ['YR2019']) * 100, 2)
high_pop_cnt_unemployment['% change over 2020-2019'] = round((high_pop_cnt_unemployment ['2020-2019'] / high_pop_cnt_unemployment ['YR2020']) * 100, 2)

high_pop_cnt_unemployment

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,...,% change over 2011-2010,% change over 2012-2011,% change over 2013-2012,% change over 2014-2013,% change over 2015-2014,% change over 2016-2015,% change over 2017-2016,% change over 2018-2017,% change over 2019-2018,% change over 2020-2019
economy,,,,,,,,,,,,,,,,,,,,,
USA,United States,9.630,8.950,8.070,7.370,6.170,5.280,4.870,4.360,3.90,...,-7.60,-10.90,-9.50,-19.45,-16.86,-8.42,-11.70,-11.79,-6.27,54.41
IDN,Indonesia,5.610,5.150,4.470,4.340,4.050,4.510,4.300,3.880,4.40,...,-8.93,-15.21,-3.00,-7.16,10.20,-4.88,-10.82,11.82,-21.55,15.42
IND,India,5.546,5.426,5.414,5.424,5.436,5.435,5.423,5.358,5.33,...,-2.21,-0.22,0.18,0.22,-0.02,-0.22,-1.21,-0.53,-1.14,34.10
CHN,China,4.530,4.550,4.570,4.590,4.610,4.630,4.530,4.440,4.28,...,0.44,0.44,0.44,0.43,0.43,-2.21,-2.03,-3.74,5.31,9.60
BRA,Brazil,7.274,6.920,7.190,6.980,6.660,8.430,11.600,12.820,12.33,...,-5.12,3.76,-3.01,-4.80,21.00,27.33,9.52,-3.97,-3.35,12.86

In [235]:
#Unemployment on 5 lowest population countries from 2010 to 2020
low_pop_cnt_unemployment=unemployment_data[unemployment_data['Country'].isin(low_pop_cnt_list)]
low_pop_cnt_unemployment

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,,
TUV,Tuvalu,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SMR,San Marino,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PLW,Palau,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NRU,Nauru,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
VGB,British Virgin Islands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [236]:
low_pop_cnt_unemployment['2011-2010'] = low_pop_cnt_unemployment.YR2011 - low_pop_cnt_unemployment.YR2010
low_pop_cnt_unemployment['2012-2011'] = low_pop_cnt_unemployment.YR2012 - low_pop_cnt_unemployment.YR2011
low_pop_cnt_unemployment['2013-2012'] = low_pop_cnt_unemployment.YR2013 - low_pop_cnt_unemployment.YR2012
low_pop_cnt_unemployment['2014-2013'] = low_pop_cnt_unemployment.YR2014 - low_pop_cnt_unemployment.YR2013
low_pop_cnt_unemployment['2015-2014'] = low_pop_cnt_unemployment.YR2015 - low_pop_cnt_unemployment.YR2014
low_pop_cnt_unemployment['2016-2015'] = low_pop_cnt_unemployment.YR2016 - low_pop_cnt_unemployment.YR2015
low_pop_cnt_unemployment['2017-2016'] = low_pop_cnt_unemployment.YR2017 - low_pop_cnt_unemployment.YR2016
low_pop_cnt_unemployment['2018-2017'] = low_pop_cnt_unemployment.YR2018 - low_pop_cnt_unemployment.YR2017
low_pop_cnt_unemployment['2019-2018'] = low_pop_cnt_unemployment.YR2019 - low_pop_cnt_unemployment.YR2018
low_pop_cnt_unemployment['2020-2019'] = low_pop_cnt_unemployment.YR2020 - low_pop_cnt_unemployment.YR2019
low_pop_cnt_unemployment['% change over 2011-2010'] = round((low_pop_cnt_unemployment ['2011-2010'] / low_pop_cnt_unemployment ['YR2011']) * 100, 2)
low_pop_cnt_unemployment['% change over 2012-2011'] = round((low_pop_cnt_unemployment ['2012-2011'] / low_pop_cnt_unemployment ['YR2012']) * 100, 2)
low_pop_cnt_unemployment['% change over 2013-2012'] = round((low_pop_cnt_unemployment ['2013-2012'] / low_pop_cnt_unemployment ['YR2013']) * 100, 2)
low_pop_cnt_unemployment['% change over 2014-2013'] = round((low_pop_cnt_unemployment ['2014-2013'] / low_pop_cnt_unemployment ['YR2014']) * 100, 2)
low_pop_cnt_unemployment['% change over 2015-2014'] = round((low_pop_cnt_unemployment ['2015-2014'] / low_pop_cnt_unemployment ['YR2015']) * 100, 2)
low_pop_cnt_unemployment['% change over 2016-2015'] = round((low_pop_cnt_unemployment ['2016-2015'] / low_pop_cnt_unemployment ['YR2016']) * 100, 2)
low_pop_cnt_unemployment['% change over 2017-2016'] = round((low_pop_cnt_unemployment ['2017-2016'] / low_pop_cnt_unemployment ['YR2017']) * 100, 2)
low_pop_cnt_unemployment['% change over 2018-2017'] = round((low_pop_cnt_unemployment ['2018-2017'] / low_pop_cnt_unemployment ['YR2018']) * 100, 2)
low_pop_cnt_unemployment['% change over 2019-2018'] = round((low_pop_cnt_unemployment ['2019-2018'] / low_pop_cnt_unemployment ['YR2019']) * 100, 2)
low_pop_cnt_unemployment['% change over 2020-2019'] = round((low_pop_cnt_unemployment ['2020-2019'] / low_pop_cnt_unemployment ['YR2020']) * 100, 2)


low_pop_cnt_unemployment

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,...,% change over 2011-2010,% change over 2012-2011,% change over 2013-2012,% change over 2014-2013,% change over 2015-2014,% change over 2016-2015,% change over 2017-2016,% change over 2018-2017,% change over 2019-2018,% change over 2020-2019
economy,,,,,,,,,,,,,,,,,,,,,
TUV,Tuvalu,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SMR,San Marino,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PLW,Palau,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NRU,Nauru,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VGB,British Virgin Islands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [237]:
#Employment data on countries from 2010 to 2020
employment_data = wb.data.DataFrame('SL.IND.EMPL.ZS', ['ALL'], time=range(2010, 2021, 1), labels=True, skipAggs=False)
#Fill NULL values with zero(0)
employment_data = employment_data.fillna(0)
employment_data

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,,
ZWE,Zimbabwe,9.240000,9.090000,8.600000,7.920000,7.360000,7.210000,7.050000,6.900000,6.750000,6.570000,0.0
ZMB,Zambia,8.710000,9.360000,10.100000,10.330000,10.490000,10.600000,10.680000,10.690000,10.610000,10.530000,0.0
YEM,"Yemen, Rep.",19.030001,16.299999,15.700000,15.510000,14.480000,12.360000,11.280000,10.450000,10.180000,10.200000,0.0
PSE,West Bank and Gaza,24.680000,25.930000,26.700001,28.070000,28.020000,28.730000,30.230000,30.860001,31.309999,30.370001,0.0
VIR,Virgin Islands (U.S.),22.700001,21.850000,20.719999,20.129999,19.870001,19.660000,19.490000,19.160000,18.969999,18.740000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
CEB,Central Europe and the Baltics,30.974547,31.170887,30.863640,30.708200,30.865192,30.816892,31.494222,31.737531,31.843711,31.883894,0.0
CSS,Caribbean small states,20.931619,20.559665,20.321375,20.271542,19.991121,19.807675,19.844513,19.707127,19.733428,19.645550,0.0
ARB,Arab World,25.006404,24.698209,24.923578,24.751676,24.612258,24.595674,24.897403,25.114454,25.111127,25.005528,0.0
AFW,Africa Western and Central,11.130290,11.218207,11.737499,12.287042,12.677678,12.889311,12.876077,12.991497,12.953376,12.976257,0.0
AFE,Africa Eastern and Southern,8.985017,9.142583,9.258570,9.336438,9.411633,9.531753,9.523434,9.543633,9.520056,9.444483,0.0

In [238]:
#Employment data on 5 highest countries from 2010 to 2020
high_pop_cnt_employment=employment_data[employment_data['Country'].isin(high_pop_cnt_list)]
high_pop_cnt_employment

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,,
USA,United States,19.639999,19.709999,19.740000,19.950001,19.980000,19.860001,19.780001,19.730000,19.870001,19.910000,0.0
IDN,Indonesia,18.650000,19.990000,21.070000,20.950001,21.400000,22.040001,21.719999,22.020000,22.290001,22.360001,0.0
IND,India,21.809999,23.100000,24.360001,24.370001,24.450001,24.540001,24.740000,24.860001,24.950001,25.120001,0.0
CHN,China,28.700001,29.500000,30.299999,30.100000,29.900000,29.180000,28.799999,28.110001,28.320000,27.420000,0.0
BRA,Brazil,22.559999,22.309999,23.020000,22.950001,22.889999,22.170000,20.889999,20.480000,20.129999,19.990000,0.0

In [239]:
high_pop_cnt_employment['2011-2010'] = high_pop_cnt_employment.YR2011 - high_pop_cnt_employment.YR2010
high_pop_cnt_employment['2012-2011'] = high_pop_cnt_employment.YR2012 - high_pop_cnt_employment.YR2011
high_pop_cnt_employment['2013-2012'] = high_pop_cnt_employment.YR2013 - high_pop_cnt_employment.YR2012
high_pop_cnt_employment['2014-2013'] = high_pop_cnt_employment.YR2014 - high_pop_cnt_employment.YR2013
high_pop_cnt_employment['2015-2014'] = high_pop_cnt_employment.YR2015 - high_pop_cnt_employment.YR2014
high_pop_cnt_employment['2016-2015'] = high_pop_cnt_employment.YR2016 - high_pop_cnt_employment.YR2015
high_pop_cnt_employment['2017-2016'] = high_pop_cnt_employment.YR2017 - high_pop_cnt_employment.YR2016
high_pop_cnt_employment['2018-2017'] = high_pop_cnt_employment.YR2018 - high_pop_cnt_employment.YR2017
high_pop_cnt_employment['2019-2018'] = high_pop_cnt_employment.YR2019 - high_pop_cnt_employment.YR2018
high_pop_cnt_employment['2020-2019'] = high_pop_cnt_employment.YR2020 - high_pop_cnt_employment.YR2019
high_pop_cnt_employment['% change over 2011-2010'] = round((high_pop_cnt_employment ['2011-2010'] / high_pop_cnt_employment ['YR2011']) * 100, 2)
high_pop_cnt_employment['% change over 2012-2011'] = round((high_pop_cnt_employment ['2012-2011'] / high_pop_cnt_employment ['YR2012']) * 100, 2)
high_pop_cnt_employment['% change over 2013-2012'] = round((high_pop_cnt_employment ['2013-2012'] / high_pop_cnt_employment ['YR2013']) * 100, 2)
high_pop_cnt_employment['% change over 2014-2013'] = round((high_pop_cnt_employment ['2014-2013'] / high_pop_cnt_employment ['YR2014']) * 100, 2)
high_pop_cnt_employment['% change over 2015-2014'] = round((high_pop_cnt_employment ['2015-2014'] / high_pop_cnt_employment ['YR2015']) * 100, 2)
high_pop_cnt_employment['% change over 2016-2015'] = round((high_pop_cnt_employment ['2016-2015'] / high_pop_cnt_employment ['YR2016']) * 100, 2)
high_pop_cnt_employment['% change over 2017-2016'] = round((high_pop_cnt_employment ['2017-2016'] / high_pop_cnt_employment ['YR2017']) * 100, 2)
high_pop_cnt_employment['% change over 2018-2017'] = round((high_pop_cnt_employment ['2018-2017'] / high_pop_cnt_employment ['YR2018']) * 100, 2)
high_pop_cnt_employment['% change over 2019-2018'] = round((high_pop_cnt_employment ['2019-2018'] / high_pop_cnt_employment ['YR2019']) * 100, 2)
high_pop_cnt_employment['% change over 2020-2019'] = round((high_pop_cnt_employment ['2020-2019'] / high_pop_cnt_employment ['YR2020']) * 100, 2)

high_pop_cnt_employment

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,...,% change over 2011-2010,% change over 2012-2011,% change over 2013-2012,% change over 2014-2013,% change over 2015-2014,% change over 2016-2015,% change over 2017-2016,% change over 2018-2017,% change over 2019-2018,% change over 2020-2019
economy,,,,,,,,,,,,,,,,,,,,,
USA,United States,19.639999,19.709999,19.740000,19.950001,19.980000,19.860001,19.780001,19.730000,19.870001,...,0.36,0.15,1.05,0.15,-0.60,-0.40,-0.25,0.70,0.20,-inf
IDN,Indonesia,18.650000,19.990000,21.070000,20.950001,21.400000,22.040001,21.719999,22.020000,22.290001,...,6.70,5.13,-0.57,2.10,2.90,-1.47,1.36,1.21,0.31,-inf
IND,India,21.809999,23.100000,24.360001,24.370001,24.450001,24.540001,24.740000,24.860001,24.950001,...,5.58,5.17,0.04,0.33,0.37,0.81,0.48,0.36,0.68,-inf
CHN,China,28.700001,29.500000,30.299999,30.100000,29.900000,29.180000,28.799999,28.110001,28.320000,...,2.71,2.64,-0.66,-0.67,-2.47,-1.32,-2.45,0.74,-3.28,-inf
BRA,Brazil,22.559999,22.309999,23.020000,22.950001,22.889999,22.170000,20.889999,20.480000,20.129999,...,-1.12,3.08,-0.31,-0.26,-3.25,-6.13,-2.00,-1.74,-0.70,-inf

In [240]:
#Employment data on 5 lowest countries from 2010 to 2020
low_pop_cnt_employment=employment_data[employment_data['Country'].isin(low_pop_cnt_list)]
low_pop_cnt_employment

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,,
TUV,Tuvalu,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SMR,San Marino,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PLW,Palau,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NRU,Nauru,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
VGB,British Virgin Islands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [241]:
low_pop_cnt_employment['2011-2010'] = low_pop_cnt_employment.YR2011 - low_pop_cnt_employment.YR2010
low_pop_cnt_employment['2012-2011'] = low_pop_cnt_employment.YR2012 - low_pop_cnt_employment.YR2011
low_pop_cnt_employment['2013-2012'] = low_pop_cnt_employment.YR2013 - low_pop_cnt_employment.YR2012
low_pop_cnt_employment['2014-2013'] = low_pop_cnt_employment.YR2014 - low_pop_cnt_employment.YR2013
low_pop_cnt_employment['2015-2014'] = low_pop_cnt_employment.YR2015 - low_pop_cnt_employment.YR2014
low_pop_cnt_employment['2016-2015'] = low_pop_cnt_employment.YR2016 - low_pop_cnt_employment.YR2015
low_pop_cnt_employment['2017-2016'] = low_pop_cnt_employment.YR2017 - low_pop_cnt_employment.YR2016
low_pop_cnt_employment['2018-2017'] = low_pop_cnt_employment.YR2018 - low_pop_cnt_employment.YR2017
low_pop_cnt_employment['2019-2018'] = low_pop_cnt_employment.YR2019 - low_pop_cnt_employment.YR2018
low_pop_cnt_employment['2020-2019'] = low_pop_cnt_employment.YR2020 - low_pop_cnt_employment.YR2019
low_pop_cnt_employment['% change over 2011-2010'] = round((low_pop_cnt_employment ['2011-2010'] / low_pop_cnt_employment ['YR2011']) * 100, 2)
low_pop_cnt_employment['% change over 2012-2011'] = round((low_pop_cnt_employment ['2012-2011'] / low_pop_cnt_employment ['YR2012']) * 100, 2)
low_pop_cnt_employment['% change over 2013-2012'] = round((low_pop_cnt_employment ['2013-2012'] / low_pop_cnt_employment ['YR2013']) * 100, 2)
low_pop_cnt_employment['% change over 2014-2013'] = round((low_pop_cnt_employment ['2014-2013'] / low_pop_cnt_employment ['YR2014']) * 100, 2)
low_pop_cnt_employment['% change over 2015-2014'] = round((low_pop_cnt_employment ['2015-2014'] / low_pop_cnt_employment ['YR2015']) * 100, 2)
low_pop_cnt_employment['% change over 2016-2015'] = round((low_pop_cnt_employment ['2016-2015'] / low_pop_cnt_employment ['YR2016']) * 100, 2)
low_pop_cnt_employment['% change over 2017-2016'] = round((low_pop_cnt_employment ['2017-2016'] / low_pop_cnt_employment ['YR2017']) * 100, 2)
low_pop_cnt_employment['% change over 2018-2017'] = round((low_pop_cnt_employment ['2018-2017'] / low_pop_cnt_employment ['YR2018']) * 100, 2)
low_pop_cnt_employment['% change over 2019-2018'] = round((low_pop_cnt_employment ['2019-2018'] / low_pop_cnt_employment ['YR2019']) * 100, 2)
low_pop_cnt_employment['% change over 2020-2019'] = round((low_pop_cnt_employment ['2020-2019'] / low_pop_cnt_employment ['YR2020']) * 100, 2)


low_pop_cnt_employment

,Country,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,...,% change over 2011-2010,% change over 2012-2011,% change over 2013-2012,% change over 2014-2013,% change over 2015-2014,% change over 2016-2015,% change over 2017-2016,% change over 2018-2017,% change over 2019-2018,% change over 2020-2019
economy,,,,,,,,,,,,,,,,,,,,,
TUV,Tuvalu,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SMR,San Marino,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PLW,Palau,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NRU,Nauru,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VGB,British Virgin Islands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN